@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-typewriter: var(--font-typewriter);
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 antialiased;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6d3d1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a29e;
}
